# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Env files (SECRETS)
.env
.env.*

# Firebase / Google secrets
serviceAccountKey.json

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/